.calculator {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
}

body {
    background: #5f5f5f;
}

#display {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 15px;
    font-size: 20px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.operator {
    background-color: #ff9f9f;
}

.equal {
    background-color: #bbef94;
}

button:hover {
    background-color: #e0e0e0;
}

.twice {
    grid-column: span 2;
}
